{% extends 'university/layout.html' %}
{% block title %} 
{% if payment.amount > 0 %}Payment by {% else %}Bill for {% endif %}{{ owner }}{% endblock %}


{% block content %}
<div class='payment-details'>
<h1>{{ payment }} {{ payment.description }}</h1>
		<h3>Personal Info</h3>
<table>
	<tr>
		<td>Account No</td>
		<td>{{ owner.number }}</td>
	</tr>
	<tr>
		<td>Owner of the account</td>
		<td>{{ owner }}</td>
	</tr>
	<tr>
		<td>Current Balance</td>
		<td>{{ owner.balance }}</td>
	</tr>
	
</table>

<h3>Payment details</h3>

<table>
	<tr>
		<td><em>Payee</em></td>
		<td><b>{{ payment.payee }}</b></td>
	</tr>
	<tr>
		<td><em>
			{% if payment.amount > 0 %}
				Paid amount
			{% else %}
				Billed amount
			{% endif %}
		</em></td>
		<td><b>{{ payment }}</b></td>
	</tr>
	<tr>
		<td><em>Description</em></td>
		<td><b>{{ payment.description }}</b></td>
	</tr>
	<tr>
		<td><em>Recived by</em></td>
		<td><b>{{ payment.received_by }}</b></td>
	</tr>
	<tr>
		<td><em>Date</em></td>
		<td><b>{{ payment.date }}</b></td>
	</tr>
	<tr>
		<td><em>Type</em></td>
		<td><b>
		 {% if payment.is_debit %}
		 	Debit
		 {% else %}
		 	Credit
		 {% endif %}
		</b></td>
	</tr>
	
</table>

</div>

{% endblock %}
{% block footer %}{% endblock %}