{% extends 'university/layout.html' %}
{% block content %}

<h1>Details of
{{ student }} exam results
 </h1>
 <h3>Student Info:</h3>
 <table>
   <tr>
   	<td>ID: </td>
   	<td>{{ student.pk }}</td>
   	<td>Current Year:</td>
   	<td>{{ student.classroom.current_year }}</td>
   </tr>
   <tr>
    <td>Name:</td>
    <td>{{ student }}</td>
    <td>Current Semester:</td>
    <td>{{ student.classroom.current_semester }}</td>
   </tr>
 </table>

 <h3>

 {% if error %}
 <span class='text text-danger'>{{ error }}</span>
 {% else %}
 Exam results for year {{ year }} - semester {{ semester }}
 {% endif %}

<p></p>
 </h3>

 {{ t |safe }}

{% endblock %}
