.registerform {
	margin-left:auto;
	margin-right: auto;
	width: 20em;
}
.registerform input, .registerform textarea, .helptext {
	margin-bottom: 4px;
	float: right;
}

a.brand-name {
	color: #fff;
}
a.brand-name:hover {
	text-decoration: none;
}

.right {
	float: right;
	margin:0em;
}

.left {
	float: left;
}

.helptext {
	color: green;
	width: 100%;
	text-align: right;
	border-bottom: 1px dotted gray;
}

.errorlist li {
	color: red;
	margin: 2px;
	font-style: italic;
}

table {
	margin:auto;
	box-shadow: 1px 1px 8px black;
	margin-top: 1em;
}

td {
	padding:.2em;
	padding-right: .5em;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	max-width: 12em;
}
tr:hover {
	background: white;
}

.menus {
	padding:.5em;
	width: auto;
	background: #FFFFFF;
	margin: .3em;
}
.content h1 {
	background:lightblue;
	color: lightgreen;
	padding: 2px;
	border: 1px solid gray;
	text-shadow: 0px 1px 3px black;
	box-shadow: -1px 1px 3px white;
	border-radius: 4px;
	margin-top: 0em;
	text-align: center;
}

.content h1 a {
	color: whitesmoke;
}

.content h1 a:hover {
	color: white;
	text-decoration: none;
}

.content p:hover {
	background: #F0FFFF;
}
.payment-details {
	width: 30em;
	margin: auto;
}

.banner h1 {
	color: white;
	text-shadow: -1px 0px 4px black;
	font-family: 'Times New Roman';
	text-transform: uppercase;
	font-size: 3em;
}
#banner-contacts {
	background:lightblue;
	border:1px dotted gray;
	text-shadow: 1px 1px 1px black;
	color: white;
	position: static;
	margin-bottom: -.1em;
	margin-right: -2em;
	margin-left: -2em;
	text-align: center;
	height: 1.5em;
}
.banner h3 {
	color: black;
	text-shadow: -1px -1px 2px white;
	font-family: verdana;
	font-size: 1em;
}

.banner, .footer, .content {
	padding: .5em;
	border: 1px solid gray;
	background: #F0F0F0;

}
.content {
	box-shadow: inset -1px 0px 15px gray;
	border: 1px solid gray;
	border-top: 1em solid gray;
	border-bottom: 1em solid gray;
	border-radius: .6em;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	min-height: 30em;
}
.container {
	border: 1px solid darkgray;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 2em;
	box-shadow: -1px 0px 8px gray;
}
.banner {
	border-radius: 1em;
	border-top: 1em solid gray;
	border-bottom: 1em solid gray;
	box-shadow: inset -1px 0px 15px gray;
	overflow: hidden;
}
.logo {
	background:url('../images/mahdi1.jpg');
	background-size: cover;
	border:1px solid black;
	border-radius: 50%;
	box-shadow:-1px 0px 15px gray;
	float: left;
	margin-right: 1em;
	margin-left: .5em;
	width: 5em;
	height: 5em;

}
.footer {
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	box-shadow: inset -1px 0px 15px gray;
	margin-top: 1em;
	overflow: hidden;
	border: .15em groove gray;
}
.footer pre.about-boss {
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 0px 3px black;
	background: gray;
	color: white;
	margin-bottom: -2.3em;
	margin-right: -2.3em;
	margin-left: -2.3em;
	border-top: 1px groove gray;
	box-shadow: -10px -3px 15px gray;
	height: 4.6em;
}
button {
	box-shadow: inset -2px -2px 5px black;
}
.student-list-item {
	padding: .5em;
	box-shadow: 0px -1px 6px gray;
	background:white;
	margin:.5em;
	overflow: hidden;
}
.balance-check, .payment-check, .marks-check {
	margin-right: .5em;
	margin-left: .5em;
	//border: 1px solid gray;
	background: lightblue;
	color: white;
	border-radius: 4px;
	padding-right: 10px;
	padding-left: 10px;
	float: right;
	text-shadow: -1px 1px 1px black;
	box-shadow: inset -1px -1px 5px black;
}
.search-students {
	background:lightgray;
	margin-left: .5em;
	margin-right: .5em;
	padding-bottom: .5em;
	height: 3em;
	box-shadow: 0px -1px 6px gray;
}
.search-area {
	float: right;
	margin-top: .5em;
}
